<h2>Forgot your password?</h2>
<div ng-show="resetPassword.checkEmail">
  <p class="user_message"><b class="subject">Check your email:</b>Instructions for resetting your password have been sent to the email address on file.</p>
</div>
<form ng-show="!resetPassword.checkEmail" novalidate accept-charset="UTF-8" class="reset_password" name="reset_password" id="reset_password" ng-submit="submit(user, reset_password.$error)">
  <ul id="messages" ng-show="resetPassword.attemptSubmit">
    <div ng-messages="reset_password.email.$error">
      <li ng-message="required">Email is required</li>
      <li ng-message="email">Email is not a valid email address</li>
    </div>
  </ul>

  <div class="form-group">
    <label for="user_email">Email</label><br>
    <input required autofocus="autofocus" class="form-control" id="user_email" name="email" ng-model="user.email" type="email" value="">
  </div>

  <!--<div class="form-group"><input class="btn btn-primary pull-right" name="commit" type="submit" value="Send me reset password instructions"></div>-->
  <div class="form-group"><input class="btn btn-primary pull-right" name="commit" type="submit" value="Reset my password" ng-click="resetPassword.attemptSubmit=true"></div>

</form>

<div class="sign_in_buttons">
  <a ui-sref="signIn">Sign in</a><br>
  <a ui-sref="signUp">Sign up</a><br>
</div>
