<span class="stress-bar">
	<span class="stress-bar-min" ng-bind="stressBarValueMin"></span>
	<span class="stress-bar-mid" ng-bind="stressBarValueMid" style="top:{{stressBarValueMidTop}}"></span>
	<span class="stress-bar-max" ng-bind="stressBarValueMax"></span>
</span>

<span class="outer-circle-value" ng-bind="outerCircleValue"></span>
<span class="inner-circle-value" ng-bind="innerCircleValue"></span>

<div class="radial-bar">
  <div class="outer-circle" id="outer-circle"></div>
  <div class="inner-circle" id="inner-circle"></div>
</div>