<!--<div class='container search-container'>
    <h2 class="search-heading">Company</h2>
    <input type="text" ng-model="asyncSelected" placeholder="Name or D&amp;B #"
      typeahead="company as company.name + ' ' + company.duns_number + ' ' for company in getCompanySearch($viewValue)"
      typeahead-loading="loadingCompanies" class="form-control"
      typeahead-template-url="/templates/search/selectResultsRow.html"
      typeahead-on-select='onSelect($item, $model, $label)'
      typeahead-wait-ms='250' />
    <i ng-show="loadingCompanies" class="loading glyphicon glyphicon-refresh"></i>
    <a href="#" class="go"
     href="/company/{{company.dans_number}}"><i class="fa fa-arrow-right"></i></a>
</div>-->