@import '../shared/globalvars.scss';
.graphs-container {
  display: inline-block;
  vertical-align: top;
}

.graphs-container.clear {
  display: block;
}

.graph-container {
  display: inline-block;
  vertical-align: top;
  h3 {
    font-family: $robotomedium;
    color: #c7d0d9;
    font-size: 23px;
    text-align: center;
  }
}

.graph-key {
  font-family: $robotomedium;
  padding-top: 40px;
  .box {
    span {
      width: 15px;
      height: 0;
      padding-top: 15px;
      display: inline-block;
      margin-right: 5px;
    }
  }
}
