<h2>Forgot your password?</h2>
<div ng-show="!passwordChanged">
  <p class="user_message">Please enter your new password:</p>
  <form novalidate accept-charset="UTF-8" ng-submit="submit()" name="password_reset_confirm" class="password_reset_confirm" id="password_reset_confirm">

    <ul id="messages" ng-show="attemptSubmit">

      <div ng-messages="password_reset_confirm.password.$error">
        <li ng-message="required">Password is required</li>
        <li ng-message="minlength">Password must be at least 8 characters long</li>
      </div>

      <div ng-messages="password_reset_confirm.password_confirmation.$error">
        <li ng-message="required">Password confirmation is required</li>
        <li ng-message="minlength">Password confirmation must be at least 8 characters long</li>
        <li ng-message="passwordMatch">Password confirmation must match</li>
      </div>

    </ul>

    <!-- new password -->
    <div class="form-group">
      <label for="user_password">New Password</label><br>
      <input required minlength="8" autocomplete="off" class="form-control" id="user_password" name="password" ng-model="user.password" type="password">
    </div>

    <!-- new password -->
    <div class="form-group">
      <label for="user_password">Password confirmation</label><br>
      <input match-password="password" required minlength="8" autocomplete="off" class="form-control" id="user_password_confirmation" name="password_confirmation" ng-model="user.password_confirmation" type="password">
    </div>

    <div class="form-group"><input ng-click="attemptSubmit=true" class="btn btn-primary pull-right" name="commit" type="submit" value="Save"></div>
  </form>
<div class="sign_in_buttons">
  <a ui-sref="signIn">Sign in</a><br>
  <a ui-sref="signUp">Sign up</a><br>
</div>
</div>
<div ng-show="passwordChanged">
  <p class="user_message">Password has been successfully changed! Please sign in using your new credentials.</p>
  <a ui-sref="signIn">Sign in</a>
</div>


